
h1 {
    font-family: sans-serif;
    text-align: center;
  
  }
  
  p {
    font-weight: 600;
    font-size: 3em;
    text-decoration: underline;
  }
  
  body {
    font-style: oblique;
    line-height: 15px;
    font-size: 16px;
  }
  #ylw {
  background-color: yellow;
  }
  #red{
  background-color: red;
  }
  #brw{
  background-color: brown;
  }
  
  